::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  min-width: 300px;
  scroll-behavior: smooth;
}

/* end reset */
/* root */
:root {
  --color-perimary: #f0b90b;
  --color-perimary-light: #faf8f0;
  --color-perimary-dark: #fcd535;
  --color-navbar: #f8f8f8;
  --color-white: #ffffff;
  --color-heading: #4d4c4a;
  --color-body: #444444;
}

/* end root */
/* typographr */
body {
  font-family: vazir;
  color: var(--color-body);
  font-size: 1.5rem;
}
